:root {
    --font-roboto-cond: 'Roboto Condensed', sans-serif;
    --font-fruti: 'fruLCn', Helvetica, sans-serif;
    --color-visvis: #FBD690;
    --color-visvis-lighten: rgba(251, 214, 144, 0.3);
    --color-floralwhite: #FFFBED;
    --color-deepsea: #0E6B6E;
    --color-deepsea-lighten: rgba(14, 107, 110, 0.2);
    --color-iceberg: #CFE1E2;
    --color-eggshell: #FBFBFB;
    --color-solidwhite: #FFF;
    --color-dolphin: #747476;
    --color-dolphin-lighten: rgba(116, 116, 118, 0.2);
    --color-soliddark: #000;
    --color-soliddark-05: rgba(0, 0, 0, 0.05);
    --color-darkcyan: #008D89;
    --color-error-lighten: rgba(244, 178, 178, 0.6);
    --color-error: #AB0101;
    ---color-amethyst:  rgba(172,96,199,.8);
    --color-success: #005c00;
    --color-success-lighten: #dafcda;
    --color-warning: #a15d05;
    --color-warning-lighten: #fff996;
    --spacing-8: 0.5rem;
    --font-size-default: 1.125rem;
    --font-size-small: 0.875rem;
    --line-height-default: 32px;
    --box-shadow: 20px 14px 88px rgba(0, 0, 0, 0.45);
}
